body {
	font-family: sans-serif;
	font-style: normal;
	font-variant: normal;
	width: 80%;
	margin: auto;
}

p {
	line-height: 1.5;
	padding: 5px;
}

header {
	margin: auto;
}

header h1 {
	text-align: center;
	text-shadow: 7px 7px 7px #aaa;
}

footer {
	display: block;
	text-align: center;
}

main {
	width: 75%;
	margin: auto;
}

h2 {
	text-align: center;
	display:none;
}

section {
	display: inline-block;
	margin: 10px;
	padding: 0px;
	text-align: justify;
	background-color: lightgrey;
	border-radius: 10px;
}

/** MENU **/

.menu li {
	list-style-type: none;
	margin-right: 15px;
	display: inline;
}

.menu {
	margin: auto;
	text-align: center;
}

/** IMAGES **/

img {
	margin:0;
	width: 100%;
}


/** LINKS **/

a:link {
	color: blue;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: blue;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: green;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: none;
}

.shownotes {
	font-family: monospace;
}
